@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>About</h2>

<div class="body">
    <p>The NETBudget database calculates the budget for each year from the total annual expenses deducted from the total annual income</p>
    <p>Both income and expense values can be of differing rates</p>
</div>


